Containers
.DS_Store
carboncast/era5dp.egg-info
carboncast/Processing/__pycache__/
carboncast/Geometry/__pycache__/
carboncast.egg-info
carboncast/__pycache__/
carboncast/datasets/
carboncast/manifests
carboncast/outputs/
carboncast/outputs_tmp/
carboncast/config/*
!carboncast/config/download_config_template.yaml
!carboncast/config/process_config_template.yaml
carboncast/research/
carboncast/config/gas_flux_assets/
visualization/
audit/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

.vscode/
