Containers
.DS_Store
pipeline/carbonpipeline/Processing/__pycache__/
pipeline/carbonpipeline/Geometry/__pycache__/
pipeline/carbonpipeline.egg-info
pipeline/carbonpipeline/__pycache__/
pipeline/datasets/
pipeline/manifests
pipeline/outputs/
pipeline/outputs_tmp/
EcoPerceiver/experiments/
EcoPerceiver/runs/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/
