Containers
.DS_Store
CarbonCast/carbonpipeline/Processing/__pycache__/
CarbonCast/carbonpipeline/Geometry/__pycache__/
CarbonCast/carbonpipeline.egg-info
CarbonCast/carbonpipeline/__pycache__/
CarbonCast/datasets/
CarbonCast/manifests
CarbonCast/outputs/
CarbonCast/outputs_tmp/
CarbonCast/config/postprocess_job.generated.sh
CarbonCast/config/config.yml
CarbonCast/config/process_config.yml
CarbonCast/research/
EcoPerceiver/experiments/
EcoPerceiver/runs/
CarbonSense/data/
CarbonSense/run_pipeline.ipynb
CarbonSense/download_modis.ipynb
visualization/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/
